$very-dark-blue             : hsl(233, 47%, 7%);
$dark-desaturated-blue      : hsl(244, 38%, 16%);
$soft-violet-accent         : hsl(277, 64%, 61%);
$white-main                 : hsl(0, 0%, 100%);
$slightly-transparent-main  : hsla(0, 0%, 100%, 0.75);
$slightly-transparent-stats : hsla(0, 0%, 100%, 0.6);

html, body {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
